---
import Background from "@/components/Background.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Partners from "@/sections/Partners.astro";
---

<Layout title='Bigway Website'>
  <main id='content'>
    <Hero />
    <Partners />
  </main>
  <!-- <Background /> -->
</Layout>
